.Heading{
  border: 1px solid #007bff;
  background: #007bff;
  padding: 10px;
}

.Con-body{
  border: 1px solid #007bff;
  padding: 10px;
}

.jadwal-ruangan{
  border: 1px solid #007bff;
}

.jadwal-ruangan td{
  text-align: center;
  padding: 10px;
}

#batal_kelas{
  display: none;
}

#batal_praktikum{
  display: none;
}

.A108{
  background: #28a745;
}

.approved{
  background: #6c757d;
}

.pending{
  background: #17a2b8;
}

.legend-body{
  display: flex;
}

.box{
  width: 20px;
  height: 20px;
}

.legend{
  margin: 0 5px 0 3px;
}

.footer{
  margin-top: 20px;
  padding: 10px;
  height: 40px;
  text-align: center;
  background: #f2f2f2;
}
